<!DOCTYPE html>
<html>

<head>
    <meta charset="ISO-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Insert title here</title>
    <link rel="stylesheet" href="{{url_for('static', filename='reset.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='app.css')}}">
</head>

<body>
    <script src="{{url_for('static', filename='qrcode.min.js')}}"></script>
    <script src="{{url_for('static', filename='generateQR.js')}}"></script>

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary" ">
        <a href="/" style="color:white; text-decoration: none;">
            <h1 style="margin-left: 11vw">PokeFriends</h1>
        </a>
    </nav>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="alert alert-warning" style="margin: 0 auto; width: 60vw;">
        <ul id="messages" class="list-unstyled text-center">
        {% for message in messages %}
            <li class="alert alert-success">{{ message }}</li>
        {% endfor %}
        </ul>
    </div>
    {% endif %}
    {% endwith %}

    {% block conteudo %}

    {% endblock %}

</body>

</html>